.body{
    background-color:yellow ;
}
.rbc-dark-theme {
    background-color: #2d3748; /* Dark background */
    color: white;
  }
  
  .rbc-dark-theme .rbc-header {
    background-color: #4a5568; /* Dark header background */
  }
  
  .rbc-dark-theme .rbc-time-view {
    border-color: #4a5568; /* Dark time view border */
  }
  
  .rbc-dark-theme .rbc-time-content {
    border-color: #4a5568; /* Dark time content border */
  }
  
  .rbc-dark-theme .rbc-time-slot {
    border-color: #2d3748; /* Dark time slot border */
  }
  
  .rbc-dark-theme .rbc-event {
    border-color: #4a5568; /* Dark event border */
  }
  
  .rbc-dark-theme .rbc-today {
    background-color: #4a5568; /* Dark today background */
  }
  
  /* Time view and gutter styles */
  .rbc-time-view {
    border-color: #edf2f7; /* Light border */
  }
  
  .rbc-time-header {
    display: none; /* Hide time header */
  }
  
  .rbc-time-content {
    border-left-width: 0; /* Remove left border */
  }
  
  .rbc-time-gutter {
    font-size: 0.875rem; /* Small font size */
    font-weight: 500; /* Medium font weight */
  }
  
  .rbc-timeslot-group {
    border-bottom-width: 1px;
    border-color: #f7fafc; /* Light border for timeslot group */
  }
  
  /* Label styles */
  .rbc-label {
    padding-top: 0.25rem; /* Padding for label */
    padding-bottom: 0.25rem; /* Padding for label */
  }
  
  /* Event styles */
  .rbc-event {
    border-radius: 0.375rem; /* Medium rounded corners */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Small shadow */
  }
  
  .rbc-event-content {
    font-size: 0.75rem; /* Extra small font size */
    font-weight: 500; /* Medium font weight */
  }
  